<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPUB</title>
</head>

<!-- HTML Body -->

<body>
    <style type="text/css">
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
        /* capitalize the first letter of drinks names, PS. How to do this in JS? */
        h2::first-letter {
            text-transform: capitalize;
        }
        img {
            max-width: 300px;
            height: auto;
        }
    </style>

<!-- surely, there must be a better way to not copy/paste; are you wondering if there is something in the hungry for more section about this? What does this mean??-->

    <h1>At foo bar</h1>
    <h2><%= drink.name %></h2>
    <img src="<%= (drink.image).slice(0,-3) + 'png' %>" alt="">
    <h3>$ <%= drink.price %> </h3>
    <a href="/drinks/">Drink menu</a> <br><br>
    <a href="/">Home</a>
    
    
</body>
</html>